<section class="cards">
  <div>
    <div class="cards">
      <div class="details">
        <span class="card_title">
          <h4>Details</h4>
          <hr />
          <div class="form-group">
            <label for="name">Full Name</label>
            <input id="name" placeholder="name" class="form-control detail-name" value={{model.name}} oninput={{action "nameDidChange" value="target.value"}} />
            {{#validation-error-field submitted=submitted field="name" className="name-validation-error" model=model validation=nameValidation}}invalid name{{/validation-error-field}}
          </div>
          <div class="form-group">
            <select class="detail-role form-control" onchange={{action "changed" value="target.value"}}>
              {{#each roles as |role|}}
              <option value={{role.id}} selected={{is-equal role.id model.role.id}}>{{role.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <input class="btn-upload" type="file" onchange={{action "upload"}}>
          </div>
          <div class="form-group">
            <button class="save-btn btn btn-primary" {{action "save"}}>Save</button>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>
